html,
body {
  height: 100%;
  color: white;
}

/* Custom css create by Matteo */
.h3 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

#headLoginPanel {
  width: 10em;
  height: 9em;
  position: relative;
}
#sx {
  width: 10em;
  height: 10em;
  position: absolute;
  left: 3em;
  top: 1em;
}
#dx {
  width: 12.7em;
  height: 10em;
  position: absolute;
  top: 1em;
  left: 8em;
  text-align: center;
}

/* Custom css create by template login */
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #232F3E;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 2em;
  margin: auto;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 7px;
}
.form-signin input[type="password"] {
  margin-bottom: 7px;
}

