body {
    background-color: #232F3E;
    color: white;
    position: relative;
}

#centralDiv {
    margin: auto;
    width: 100%;
    padding: 10px;
}
#centralDiv hr{
    margin-top: 5px;
}

.titleText {
    padding: 1em;
}

.titleText h1 {
    text-align: center;
    padding-bottom: 0.5em;
}

.titleText img {
    margin-bottom: 10px;
}

.titleText label {
    color: #00CAFF;
}

.labelText {
    margin-top: 10px;
    margin-left: 14px;
}

.text-center {
    margin: auto;
    width: 55%;
    padding: 10px;
}

.container {
    margin-top: 2%;
    max-width: 500px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.lh-condensed {
    line-height: 1.25;
}

.btn-outline-warning {
    margin-bottom: 15px;
}

.mb-3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mb-3 p{
    margin-top: 5px;
    margin-bottom: -7px;
}




